.ukij-tuz-tom{
    
    font-family: 'UKIJ Tuz Tom';
    direction: rtl;
    text-align: center;
    font-size: 30px;

}

.ukij-ekran{
    font-family: 'UKIJ Ekran';
        direction: rtl;
    text-align: center;
    font-size: 30px;
}

.ukij-kufi-yay{
    
        font-family: 'UKIJ Kufi Yay';
        direction: rtl;
    text-align: center;
    font-size: 30px;
}


.alpida-unicode-system{
    font-family: 'Alpida Unicode System';
     direction: rtl;
    text-align: center;
    font-size: 30px;
    
}